body {
    align-items: center;
    background-color: beige;
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
